.header{
    position: fixed;
    line-height: 3.2rem;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 1000;
    align-items: stretch;
}

.logo{
    max-height: 3.2rem;
}

.logo-section{
    flex: 0 0 20rem;
}

.main-section{
    background-color: #ffffff;
    width: calc(100% - 20rem);
}

.pointer{
    cursor: pointer;
}

.search-area{
    background-color: #d8d5d5;
    padding: 0.4rem 0.6rem;
    border-radius: 2rem;
}

.search-input{
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    border: none;
}

.header-notification{
    position: absolute;
    left: 0;
    margin-top: 0.2rem;
    width: 16rem;
    background-color: #ffffff;
    color: #000;
    box-shadow: 0 1px 20px 0 rgba(70, 90, 100, 0.4);
    display: none;
}

.notification-img{
    width: 3rem;
    border-radius: 0.2rem;
}

.notification-user{
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: 0.3rem;
}

.notification-text{
    font-size: 0.7rem;
    line-height: 0.7rem;
}

.notification-time{
    font-size: 0.6rem;
    line-height: 0.6rem;
    color: #838383;
}

.header-comment{
    position: absolute;
    height: calc(100vh - 4rem);
    width: 18rem;
    left: 0;
    background-color: #fff;
    color: #000;
    box-shadow: 0 1px 20px 0 rgba(70, 90, 100, 0.4);
    display: none;
}


.header-comment-wrapper{
    height: calc(100% - 6rem);
    overflow: auto;
}

.header-comment-wrapper::-webkit-scrollbar{
    display: none;
}

.comment-user{
    font-size: 0.7rem;
    font-weight: bold;
    margin-top: 0.8rem;
}

.comment-user-status{
    font-size: 0.4rem;
}

.header-avatar{
    width: 2rem;
    height: 2rem;
    border-radius: 0.3rem;
    mask-repeat: 0.2rem;
}

.header-profile{
    position: absolute;
    margin-top: 0.2rem;
    left: 0;
    z-index: 1000;
    height: auto;
    width: 14rem;
    background-color: #ecebeb;
    color: #000;
    box-shadow: 0 1px 20px 0 rgba(70, 90, 100, 0.4);
    display: none;

}

.header-profile-link{
    padding: 0.4rem;
    font-size: 0.8rem;
    line-height: 1.4rem;
}

.header-profile-link > i {
    width: 2rem;
    text-align: center;
}


@media only screen and (max-width: 768px){
    .header{
        display: block;
    }
    .logo-section{
        width: 100%;
    }
    .main-section{
        display: none;
        width: 100%;
    }
}


.body-container{
    display: flex;
    z-index: 100000;
    margin-top: 3rem;
}

.sidebar{
    flex: 0 0 20rem;
    background-color: #d6d5d5;
    color: #757575;
    padding-right: 1rem;
}

.sidebar-container{
    height: calc(100vh - 3rem);
    right: 0;
    top: 3rem;
    z-index: 1000000;
}

.sidebar-wrapper{
    padding: 1rem 0;
    overflow: auto;
}

.sidebar-wrapper::-webkit-scrollbar{
    display: none;
}

.sidebar-part-title{
    font-size: 0.9rem;
    padding: 0 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.sidebar-link{
    font-size: 0.8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
    text-decoration: none;
    outline: none;
    border: none;
    color: #1146da;
    transition: all 0.3s ease-in;
}

.sidebar-link:hover{
    text-decoration: none;
    color: #da2811;
}

.sidebar-group-link{
    font-size: 0.9rem;
    padding: 0.4rem 0 ;
    color: #757575 ;
    padding: 0.4rem 2rem;
}


.sidebar-group-link-active{
    border-right: #1146da  3px solid;
}

.sidebar-group-link>.sidebar-dropdown{
    height: 0;
    display: none;


}

.sidebar-group-link-active>.sidebar-dropdown{
    height: auto!important;
    display: block;

}

.sidebar-dropdown-toggle{
    cursor: pointer;
    padding: 0.2re 0.3rem;
}


.sidebar-dropdown-toggle:hover{
    color: #da2811;
}

.sidebar-dropdown-toggle .angle{
    float: left;
    padding-left: 0.4rem 0;
}

.sidebar-dropdown a{
    display: block;
    padding: 0.4rem 1rem;
    text-decoration: none;
    background-color: inherit;
    outline: none;
    border: none;
    color: #757575;
}

.sidebar-dropdown a:hover{
    color: #1146da;
    background-color: #ececec;
    border-radius: 1rem;
}


.sidebar-dropdown a::before{
    content: ">>";
    margin: 0.6rem;
}

.main-body{
    width: calc(100% - 16rem);
    padding: 1.2rem;
    min-height: calc(100% - 3rem);
    background-color: #e0e0e0 ;
}

.info-box-body h5{
    font-size: 0.9rem;
    line-height: 1rem;
}

.info-box-body p{
    font-size: 0.7rem;
}

.info-box-body i{
    font-size: 2rem;
}

.info-box-footer{
    font-size: 0.6rem;
}

.main-body-container{
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 0.25rem;
    padding: 1rem;
}

@media only screen and (max-width: 768px){
    .sidebar{
        display: none;
        max-width: 16rem;
        z-index: 9;
        height: calc(100% - 3rem);
        top: 4rem;
        right: 0;
    }

    .sidebar-container{
        position: relative;
        width: 16rem;
        height: 100%;
        top: 0;
    }
    .main-body{
        width: 100%;
    }
}