@font-face {
    font-family: 'IRANSans';
    src: url('../fonts/IRANSansX-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* for persian mode */
*{
    direction: rtl;
    text-align: right;
    font-family: 'IRANSans';
}

.bg-gray{
    background-color: #d6d5d5;
    color: #000;
}
